<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<meta charset="UTF-8">
<title>Home</title>
</head>
<body>
	<div class="container">
		<div class="jumbotron mb-0">
			<h1 class="display-4">Novo pedido</h1>
		</div>

		<div class="card mt-3">
			<form th:object="${requisicaoNovoPedido}" class="card-body" action="/pedido/novo" method="POST">
				<div class="form-group">
					<label for="nomeProduto">Produto</label> 
					<input th:field="*{nomeProduto}" th:errorclass="is-invalid" class="form-control" placeholder="Nome do produto" /> <!-- o th:field="*{nomeProduto}" pega o atributo nomeProduto do objeto requisicaoNovoPedido, e seta automaticamente o name, id e value  -->
					<small>Informe qual o nome do produto.</small>
					<div class="invalid-feedback" th:errors="*{nomeProduto}">
						Erros do nome do produto
					</div>
				</div>
				<div class="form-group">
					<label for="urlProduto">Url</label> 
					<input th:field="*{urlProduto}" th:errorclass="is-invalid" class="form-control" placeholder="URL do produto" /> 
					<small>Procure em um site o produto que você deseja e cole a URL da página aqui.</small>
					<div class="invalid-feedback" th:errors="*{urlProduto}">
						Erros da URL do produto
					</div>
				</div>
				<div class="form-group">
					<label for="urlImagemProduto">Imagem</label>
					<input th:field="*{urlImagemProduto}" th:errorclass="is-invalid" class="form-control" placeholder="URL da imagem do produto" />
					<small>Copie a URL de uma boa imagem do produto e cole aqui para ajudar a conseguir compradores.</small>
					<div class="invalid-feedback" th:errors="*{urlImagemProduto}">
						Erros da URL da imagem
					</div>
				</div>
				<div class="form-group">
					<label for="descricaoProduto">Descrição</label>
					<textarea th:field="*{descricaoProduto}" class="form-control" placeholder="Adicione detalhes importantes para ajudar o comprador"></textarea>
				</div>
				<button class="btn btn-primary" type="submit">Cadastrar</button>
			</form>
		</div>

	</div>
</body>
</html>